@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.modal-form {
  @include m.flex(center, center, 6rem, column);
}

.modal-text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 150%;
  color: v.$secondary-color;
}

.modal-subtitle {
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 150%;
  color: v.$primary-color;
}
