@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.messenger {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 0;
  font-family: "Open Sans", sans-serif;
  @include m.flex-direction(column);
  width: 356px;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  overflow-x: hidden;
  border-left: v.$primary-border-width v.$primary-border-type
    v.$secondary-border-color;
  // Remove overflow: auto from parent container
  display: flex;
  flex-direction: column;
  z-index: 1000000;
  overflow: hidden;
  backdrop-filter: blur(50px);
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: v.$button-bg;
  }

  &::-webkit-scrollbar-track {
    background-color: v.$secondary-bg;
  }

  &-header {
    padding-top: 25px;
    padding-bottom: 15px;
    backdrop-filter: blur(5px);
    border-bottom: v.$primary-border-width v.$primary-border-type
      v.$primary-border-color;
  }

  &-body {
    position: relative;
    @include m.flex(start, start, 4rem, column);
    flex: 1;
    min-height: 0;
    border-radius: 10px;

    .messenger-messages {
      @include m.flex(start, start, 4rem, column);
      width: 100%;
      flex: 1;
      padding: 10px;
      padding-right: 15px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: v.$button-bg;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: v.$secondary-bg;
      }
    }

    .messenger-message {
      width: 100%;
    }
    // Add custom scrollbar for body
  }

  &-body-loader-wrapper {
    position: absolute;
    @include m.position-center;
  }

  &-footer {
    padding-top: 12px;
    padding-bottom: 24px;
    backdrop-filter: blur(5px);
    border-top: v.$primary-border-width v.$primary-border-type
      v.$primary-border-color;
  }
}

.title {
  color: v.$primary-color;
  text-align: center;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 143%;

  &.small {
    font-size: 3.2rem;
  }
}

.text-input-form {
  @include m.flex(start, space-between, 0, column);
  height: 114px;
  padding: 0 12px 12px 12px;
  border-radius: 12px;
  background: v.$primary-chat-input-bg;
}

.text-input {
  padding-top: 10px !important;
  width: 100%;
  height: 74px;
  padding: 0 10px;
  border: none;
  background: transparent;
  color: v.$primary-color;
  font-style: normal;
  font-family: inherit;
  font-size: 3.5rem;
  letter-spacing: 0.8px;
  resize: none;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: v.$button-bg;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: v.$secondary-bg;
  }

  &::placeholder {
    color: rgba(60, 63, 71, 0.4);
  }

  &:focus {
    outline: none;
  }
}

.text-input-form.small {
  height: 90px;
  padding: 8px;
  padding-top: 2px;

  .text-input {
    height: 54px;
  }

  // .send-btn {
  //   font-size: 3.5rem !important;
  // }
}

.message {
  position: relative;
  @include m.flex(start, start, 1rem, column);
  will-change: transform;
  transform-origin: bottom left;
  &-text {
    position: relative;
    min-width: 160px;
    padding: 8px 20px 4px 16px;
    @include m.flex(start, start, 0, column);
    color: v.$primary-color;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;
    border-radius: 24px 29px 29px 0px;
    background: #e6f0ff;
    transition: all v.$transition-time v.$transition-type;
    &-menu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: 24px 29px 29px 0px;
      display: none;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all v.$transition-time v.$transition-type;
      &-menu-open {
        display: flex;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px);
        border-radius: 24px 29px 29px 0px;
      }
    }

    p {
      word-break: break-word;
    }
  }

  &-edit-input {
    position: relative;
    display: flex;
    background-color: transparent;
    width: 100%;
    min-height: 50px;
    max-height: 80px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: v.$primary-color;
    border: none;
    outline: none;
    resize: vertical;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: v.$button-bg;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &-edit-input:focus {
  }

  &-data {
    @include m.flex(start, start, 1rem);
  }

  &-author {
    color: v.$secondary-color;
    font-size: 3.5rem;
    color: v.$tertiary-color;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 1.1px;
  }

  &-time {
    align-self: end;
    color: v.$secondary-color;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    color: v.$tertiary-color;
  }

  &-avatar-icon {
    @include m.flex-center;
    font-size: 14px;
    color: v.$tertiary-color;
    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.message.small {
  .message-text {
    min-width: 100px;
    padding-right: 12px;
    font-size: 3.7rem;
    font-weight: 800;
  }
}

.message-date {
  @include m.flex(center, center, 1rem);
  width: 100%;
  padding: 4px 8px;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  border-radius: 10px;
  color: v.$secondary-color;

  &.small {
    font-size: 3rem;
  }
}

.send-btn {
  transition: v.$transition-time v.$transition-type;
  &.invalid {
    pointer-events: none;
    opacity: 0.7;
    color: v.$secondary-color !important;
    & svg {
      color: v.$secondary-color;
    }
  }
}

.file-input {
  display: none;
}

.toggle-button {
  position: absolute;
  right: 0;
}

.messenger-modal {
  @include m.flex(stretch, stretch, 0, column);
  padding-left: 8px;
  padding-right: 8px;
  z-index: 99999999;
  width: 260px;
  height: 400px;
  min-height: 0;
  border-radius: 10px;
  // overflow: hidden;
  background-color: v.$secondary-bg;
  box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.09);

  &-header {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: v.$primary-border-width v.$primary-border-type
      v.$primary-border-color;
  }

  &-body {
    position: relative;
    @include m.flex(start, start, 1rem, column);
    flex: 1;
    min-height: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    overflow: auto;
    border-radius: 10px;

    .messenger-messages {
      width: 100%;
      @include m.flex(start, start, 0, column);
      flex: 1;
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: v.$button-bg;
        border-radius: 6px;
      }

      &::-webkit-scrollbar-track {
        background-color: v.$secondary-bg;
      }
    }
    .messenger-message {
      width: 100%;
    }
  }

  &-footer {
    position: sticky;
    bottom: 0;
    z-index: 99999;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #fff;
    border-top: v.$primary-border-width v.$primary-border-type
      v.$primary-border-color;
  }
}

.message-text-menu {
  @include m.flex(start, start, 8px);
  width: 110px;
  height: 62px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.09);
  opacity: 1;
  z-index: 999999;

  &-list {
    @include m.flex(start, center, 1rem, column);
    width: 95%;
    min-height: 50%;
    padding: 6px;
    border-radius: 10px;
  }

  &-list-item {
    position: relative;
    @include m.flex(center, start, 1rem);
    width: 100%;
    font-size: 3.4rem;
    color: v.$primary-color;

    cursor: pointer;

    & svg {
      width: 18px !important;
      height: 18px !important;
    }
  }

  &-list-item:first-child {
    border-bottom: 1px solid #e9ebf0;
  }

  &-btn {
    font-weight: 600 !important;
  }

  &-btn.delete {
    svg {
      color: v.$danger-color;
    }

    color: v.$danger-color;
  }
  &-btn.edit {
    svg {
      color: v.$fourth-color;
    }
    color: v.$fourth-color;
  }
}
