@use '../mixins' as m;
@use '../variables' as v;

.sidebar-layout {
  @include m.flex-direction(column);
  width: 64px !important;
  padding: 6rem 2.5rem;
  border-right: 1px solid #f3f4f2;
  background: v.$secondary-bg;
  transition: all v.$transition-time v.$transition-type;
  will-change: width;

  &.open {
    width: clamp(200px, 220px, 220px) !important;
    padding: 6rem;
  }

  &.mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 250px !important;
    height: 100%;
    z-index: 1005;
    transform: translateX(-100%);
  }
}

.backdrop {
  display: none;

  @include m.media-max(v.$breakpoint-lg) {
    display: block;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1004;
  }
}

@include m.media-max(v.$breakpoint-md) {
}

.dashboard-layout {
  position: relative;
  @include m.flex-direction(column);
  flex: 1;
  padding: 6rem;
  padding-bottom: 68px;
}

.main-layout {
  position: relative;
  display: flex;
  min-height: 100vh !important;
}

.primary-layout {
  position: relative;
  @include m.flex-direction(column);
  width: 100%;
  min-height: 100vh;
}

.client-page-layout {
  position: relative;
  @include m.flex-direction(column);
  width: 100%;
}
