@use "../mixins" as m;
@use "../variables" as v;

.sidebar-layout {
  @include m.flex-direction(column);
  width: 64px !important;
  padding: 6rem 2.5rem;
  min-height: 100dvh;
  border-right: 1px solid #f3f4f2;
  background: v.$secondary-bg;
  transition: all v.$transition-time v.$transition-type;

  &.open {
    width: clamp(240px, 240px, 240px) !important;
    padding: 6rem;
  }
}

.dashboard-layout {
  position: relative;
  @include m.flex-direction(column);
  flex: 1;
  padding: 6rem;
}

.main-layout {
  position: relative;
  display: flex;
}

.primary-layout {
  position: relative;
  @include m.flex-direction(column);
  width: 100%;
}
