@use "@styles/mixins" as m;
@use "@styles/variables" as v;

.alert {
  position: fixed;
  width: clamp(100rem, 100%, 160rem);
  top: 11rem;
  right: 6rem;
  z-index: 1000;
  padding: 4rem;
  font-family: "Inter";
  border: v.$primary-border-width v.$primary-border-type v.$primary-border-color;
  border-radius: 4rem;
  transition: opacity v.$transition-time v.$transition-type;

  &-success {
    background-color: v.$success-bg;
    color: v.$success-color;
    border-color: rgba(v.$success-color, 0.2);

    &-title,
    &-desc {
      color: v.$success-color;
    }
  }

  &-info {
    background-color: v.$info-bg;
    color: v.$info-color;
    border-color: rgba(v.$info-color, 0.2);

    &-title,
    &-desc {
      color: v.$info-color;
    }
  }

  &-error {
    background-color: v.$danger-bg;
    color: v.$danger-color;
    border-color: rgba(v.$danger-color, 0.2);

    &-title,
    &-desc {
      color: v.$danger-color;
    }
  }

  &-content {
    max-width: 136rem;
    width: 100%;
  }

  &-title {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: normal;
  }

  &-desc {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: normal;
  }

  &.disappear {
    opacity: 0;
  }
}
