@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.base-table {
  position: relative;
  width: 100%;
  min-height: 55dvh;
  font-size: 3rem;
  color: #3c3f47;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border: none;
  border-spacing: 0;
  border-bottom: v.$primary-border-width v.$primary-border-type
    v.$primary-border-color;
  overflow: hidden;
  background-color: v.$primary-table-bg;
  transition: all v.$transition-type v.$transition-time;
  &.loading {
    opacity: 0.6;
  }

  tr {
    transition: background-color v.$transition-type v.$transition-time;

    &.loading-row {
      position: absolute;
      top: 30%;
      width: 100%;
      @include m.flex(start, center, 0);
    }
  }

  tbody tr {
    cursor: pointer;
    max-height: 50px !important;
  }

  tr:hover {
    background-color: v.$primary-table-hover-bg;
  }

  th {
    text-align: start;
    border: v.$secondary-border-width v.$primary-border-type
      v.$primary-border-color;
    padding: 3rem;
    flex: 1 0 0;
    background: v.$primary-table-header-bg;
  }

  th:first-child {
    border-radius: 12px 0px 0px 12px;
  }

  th:last-child {
    border-radius: 0px 12px 12px 0px;
  }

  td {
    padding: 3rem;
    border-bottom: v.$secondary-border-width v.$primary-border-type
      v.$primary-border-color;

    &.empty-table {
      font-size: 4rem;
      font-weight: 500;
      line-height: normal;
      color: v.$secondary-color;

      & span {
        display: flex !important;
        margin: 0 auto;
      }
    }
  }
}

.table-header-cell {
  @include m.flex(center, start, 2rem);

  svg {
    width: 5rem;
    height: 5rem;
    color: v.$secondary-color;
  }
}
