@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.table-wrapper {
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
  &.loading {
    pointer-events: none;
  }
  &.scrollable {
    overflow: auto;
    height: calc(100vh - 450px);
    & .table-container {
      padding-top: 20px;
    }

    & table thead tr {
      position: sticky;
      top: 0;
      z-index: 999;
    }
  }
}

.table-container {
  @include m.flex(start, start, 0);
  width: 100%;
  & * {
    transition: all v.$transition-time v.$transition-type;
  }
}

.base-table {
  width: 100%;
  font-size: 3.2rem;
  color: #3c3f47;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
  border-bottom: v.$primary-border-width v.$primary-border-type
    v.$primary-border-color;
  background-color: v.$primary-table-bg;
  transition: all v.$transition-type v.$transition-time;

  &.loading {
    opacity: 0.6;
  }
  
  thead {
    th {
      text-align: start;
      border: v.$secondary-border-width v.$primary-border-type
        v.$primary-border-color;
      padding: 3rem;
      flex: 1 0 0;
      background: v.$primary-table-header-bg;
    }

    th:first-child {
      border-radius: 12px 0px 0px 12px;
    }

    th:last-child {
      border-radius: 0px 12px 12px 0px;
    }
  }

  tbody {
    position: relative;
    & tr {
      cursor: pointer;
      max-height: 50px !important;
      height: 50px !important;
    }
  }

  tr:hover {
    background-color: v.$primary-table-hover-bg;
  }

  tr:first-child td {
    padding-top: 5rem;
  }

  td {
    position: relative;
    padding: 3rem;
    border-bottom: v.$secondary-border-width v.$primary-border-type
      v.$primary-border-color;

    &.empty-table {
      padding: 0 !important;
      text-align: center;
      font-size: 3.5rem;
      font-weight: 500;
      line-height: normal;
      color: v.$secondary-color;
      border-bottom: none;

      & span {
        display: flex !important;
        margin: 0 auto;
      }
    }
  }
}

.table-header-cell {
  @include m.flex(center, start, 2rem);

  svg {
    width: 5rem;
    height: 5rem;
    color: v.$secondary-color;
  }
}
