@use '@styles/variables' as v;
@use '@styles/mixins' as m;

.wrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  @include m.flex(start, start, 12px, column);
  width: 100%;
  min-width: 950px;
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}

.row {
  width: 100%;
  padding: 12px 36px;
  background-color: v.$sixth-bg;
  border: 1px solid v.$fourth-border-color;
  border-radius: 16px;

  &:hover {
    cursor: pointer;
    background-color: v.$fourth-bg;
  }
}

.title {
  color: v.$eighth-color;
  font-size: 3rem;
  font-weight: 300;
  line-height: 16px; /* 133.333% */
  text-wrap: nowrap;
}

.desc {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  &:has:not(notApplyColor) {
    color: v.$nineth-color;
  }
}
