@use '@styles/mixins' as m;
@use '@styles/variables' as v;

.statistics-text {
  @include m.flex(center, center, 2rem);
}

.total-text-wrapper {
  min-width: 170px;
}


.footer-container {
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0 !important;
  border-radius: 16px 16px 0 0;
  z-index: 1005;

  // Tighter paddings for tablets and mobiles
  @include m.media-max(v.$breakpoint-lg) {
    padding: 2rem 3rem !important;
    border-radius: 14px 14px 0 0;
  }
  @include m.media-max(v.$breakpoint-md) {
    padding: 1.6rem 2rem !important;
    border-radius: 12px 12px 0 0;
  }
  @include m.media-max(v.$breakpoint-sm) {
    padding: 1.2rem 1.6rem !important;
    border-radius: 10px 10px 0 0;
  }
}
