@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.status {
  @include m.flex-center;
  width: 92px;
  padding: 8px 14px;
  border-radius: 32px;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 150%;
  text-align: center;
  color: v.$tertiary-color !important;

  &.paid {
    color: v.$success-color;
    background: rgba(v.$success-color, 0.6);
  }

  &.partial {
    color: rgba(v.$info-color, 0.8);
    background: rgba(v.$info-color, 0.6);
  }

  &.unpaid {
    color: v.$danger-color;
    background: rgba(v.$danger-color, 0.6);
  }

  &.product {
    background-color: rgb(97, 168, 227);
  }
}
