@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.status {
  @include m.flex-center;
  width: 82px;
  padding: 6px 12px;
  border-radius: 32px;
  font-size: 3rem;
  font-weight: 500;
  line-height: 150%;
  text-align: center;

  &.paid {
    color: v.$success-color;
    background: rgba(v.$success-color, 0.1);
  }

  &.partial {
    color: rgba(v.$info-color, 0.8);
    background: rgba(v.$info-color, 0.1);
  }

  &.unpaid {
    color: v.$danger-color;
    background: rgba(v.$danger-color, 0.1);
  }
}
