@use '@styles/variables' as v;
@use '@styles/mixins' as m;

.status {
  @include m.flex-center;
  min-width: 92px;
  max-width: 93px;
  padding: 8px 14px;
  border-radius: 32px;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all v.$transition-time v.$transition-type;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #000;
  [data-theme='dark'] & {
    box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  @media (max-width: v.$breakpoint-md) {
    padding: 7px 12px;
    font-size: 2.8rem;
  }

  &.paid {
    background: #02724399;
    border: 1px solid rgba(v.$success-color, 0.5);
  }

  &.manual_paid {
    background: #027243be;
    border: 1px solid rgba(v.$success-color, 0.4);
  }

  &.partial {
    background: #d4bb1899;
    border: 1px solid rgba(v.$info-color, 0.5);
  }

  &.unpaid {
    background: #d5162999;
    border: 1px solid rgba(v.$danger-color, 0.5);
  }

  &.product {
    background-color: #30a9e6;
    border: 1px solid #30a9e6;
  }
}
