@use '@styles/variables' as v;

.page-container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 1rem;
  box-sizing: border-box;

  @media (max-width: (v.$breakpoint-sm - 1)) {
    padding: 0 0.5rem;
  }
}

.sticky-column {
  position: sticky;
  top: 105px;
  z-index: 1000;
  padding-top: 16px;
  padding-bottom: 12px;
  background-color: v.$primary-bg;
  @media (max-width: (v.$breakpoint-lg - 1)) {
    position: relative;
    top: 0;
    z-index: 1;
    padding-top: 0;
    padding-bottom: 0;
  }
  &::before {
    position: absolute;
    top: -25px;
    width: 100%;
    height: 25px;
    background-color: v.$primary-bg;
    content: '';
  }
}

// .screenshot-btn {
// }

.map-container {
  width: 100%;
  height: 100%;
  min-height: calc(35dvh);
  max-height: calc(70vh);
  border-radius: 8px;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: (v.$breakpoint-lg - 1)) {
    min-height: calc(30dvh);
    max-height: calc(60vh);
  }

  @media (max-width: (v.$breakpoint-md - 1)) {
    min-height: calc(25dvh);
    max-height: calc(50vh);
    margin-top: 2rem;
  }
}

.footer-container {
  margin-bottom: 0 !important;
  border-radius: 16px 16px 0 0;
  @media (max-width: (v.$breakpoint-lg - 1)) {
    padding: 2rem 3rem !important;
    border-radius: 14px 14px 0 0;
  }
  @media (max-width: (v.$breakpoint-md - 1)) {
    padding: 1.6rem 2rem !important;
    border-radius: 12px 12px 0 0;
  }
  @media (max-width: (v.$breakpoint-sm - 1)) {
    padding: 1.2rem 1.6rem !important;
    border-radius: 10px 10px 0 0;
  }
}

.sticky-col {
  position: sticky !important;
  top: 100px !important;
  z-index: 100;
  background-color: v.$primary-bg;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -26px;
    left: 0;
    width: 100%;
    height: 26px;
    background-color: v.$primary-bg;
    z-index: -1;
  }

  &::after {
    top: auto;
    bottom: -12px;
  }
}

.footer-container {
  // Override default footer spacing to look good inside portal
  margin-bottom: 0 !important;
  border-radius: 16px 16px 0 0;
  @media (max-width: (v.$breakpoint-lg - 1)) {
    padding: 2rem 3rem !important;
    border-radius: 14px 14px 0 0;
  }
  @media (max-width: (v.$breakpoint-md - 1)) {
    padding: 1.6rem 2rem !important;
    border-radius: 12px 12px 0 0;
  }
  @media (max-width: (v.$breakpoint-sm - 1)) {
    padding: 1.2rem 1.6rem !important;
    border-radius: 10px 10px 0 0;
  }
}
