@use "@styles/mixins" as m;
@use "@styles/variables" as v;

.btn {
  @include m.flex-center;
  gap: 2rem;
  cursor: pointer;
  transform: scale(1);
  transform-origin: center;

  &.loading {
    pointer-events: none;
    opacity: 0.95;
  }
  // variants
  &.text {
    background-color: transparent;
    font-size: 4rem;
    font-weight: 500;
    line-height: 150%;
    color: v.$primary-color;
    border: none;
  }

  &.filled {
    background-color: v.$button-bg;
    color: v.$button-color;
    padding: 2.5rem 4rem;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 143%;
    color: v.$button-color;
    border: none;
    border-radius: 3rem;
    background-color: v.$button-bg;
  }

  //colors

  &.primary {
    color: v.$text-button-color !important;
  }

  &.secondary {
    color: v.$text-button-color-secondary !important;
  }

  // icons

  &.icon {
    width: 50rem;
    height: 50rem;
  }

  &.icon-primary-color {
    span {
      color: v.$text-button-color !important;
    }
  }

  &.icon-secondary-color {
    span {
      color: v.$button-color !important;
    }
  }
}

.icon-text {
  @include m.flex(center, center, 0);
  color: v.$secondary-color;
}

.loading-icon {
  width: 5rem !important;
  height: 5rem !important;
}

.hide {
  visibility: hidden;
  background-color: red !important;
}

.right {
  flex-direction: row-reverse !important;
}

.loading-wrapper {
  @include m.flex-center();
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 100;

  & span {
    @include m.flex-center();
  }
}
