@use "@styles/mixins" as m;
@use "@styles/variables" as v;

.btn {
  @include m.flex-center;
  gap: 2rem;
  cursor: pointer;
  transition: transform v.$transition-time v.$transition-type;
  transform: scale(1);
  transform-origin: center;
  &:active {
    transform: scale(0.9);
  }
  // variants
  &.text {
    background-color: transparent;
    font-size: 4rem;
    font-weight: 500;
    line-height: 150%;
    color: v.$primary-color;
    border: none;
  }

  //colors
  &.secondary {
    color: v.$text-button-color-secondary;
  }

  // icons

  &.icon {
    width: 50rem;
    height: 50rem;
  }
}

.icon-text {
  @include m.flex(center, center, 0);
  color: v.$secondary-color;
}
