@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.filter-form {
  @include m.flex(center, start, 4rem);
  width: 100%;
}

.filter-btn {
  margin-top: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 110px !important;
  svg {
    color: #fff;
  }
  &.clear {
    background-color: v.$danger-color !important;
    svg {
      color: #fff !important;
    }
  }
}
