@use "@styles/variables" as v;

.divider {
  display: flex;
  height: 100%;
  width: 0.3rem;
  background-color: v.$secondary-border-color;
  &.primary {
  }
  &.secondary {
    background-color: v.$tertiary-color;
  }
}
