@use "@styles/variables" as v;

.site-header {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 6.5rem 6rem;
  border-bottom: v.$primary-border-width v.$primary-border-type
    v.$secondary-border-color;
  background-color: v.$primary-bg;
}

