@use "@styles/mixins.scss" as m;
@use "@styles/variables.scss" as v;

.input {
  width: 41rem;
  color: v.$filter-input-color !important;
  border: 1px solid transparent;

  &::placeholder {
    color: v.$filter-input-placeholder-color;
  }

  &.filter {
    width: 165px;
    padding: 8px 30px 8px 12px;
    border-radius: 6px;
    border: v.$primary-border-width v.$primary-border-type
      v.$filter-input-border-color;
    background: v.$filter-input-bg;
  }

  &.filled {
    min-width: 310px;
    padding: 11px 12px;
    background: v.$primary-input-bg;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 143%;
    color: v.$primary-color;
    border-radius: 12px;
    background-color: "";
    transition: min-width v.$transition-time v.$transition-type;
  }

  &.filled.small {
    min-width: 257px !important;
  }

  &.select {
    appearance: none;
    color: v.$filter-input-placeholder-color !important;
  }

  &.file[type="file"] {
    display: none !important;
  }

  &.file[type="file"] + label {
    min-height: 43px;
    max-height: 68px;
    overflow: auto;
  }

  &.date {
    color: v.$filter-input-placeholder-color !important;
  }

  &.filled.date {
    color: inherit !important;
  }

  &.disabled {
    pointer-events: none !important;
  }
  &.error {
    border-color: v.$danger-color !important;
  }

  &.date ::-webkit-inner-spin-button,
  &.date::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.input-wrapper {
  @include m.flex(center, start, 2rem);
  flex-direction: column !important;
}

.search {
  width: 50rem;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-bottom: 0.5rem v.$primary-border-type transparent;
  transition: border v.$transition-time v.$transition-type;
  &,
  &::placeholder {
    color: v.$primary-color;
    font-size: 4rem;
    font-weight: 500;
    line-height: 150%;
  }

  &:focus {
    border-bottom-color: v.$primary-color;
  }
}

.icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  color: v.$filter-input-placeholder-color;
  & svg {
    width: 16px;
    height: 16px;
  }
  pointer-events: none;
}

.icon-text {
  @include m.flex(center, center, 0);
  color: v.$secondary-color;
}

.label {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  color: v.$primary-label-color;
}

.file-image {
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.error-text {
  margin-top: 4px;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  color: lighten(v.$danger-color, 20);
  pointer-events: none;
}
