@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.sidebar {
  display: flex;
  position: sticky;
  top: 6rem;
}

.sidebar-text {
  display: flex;
  padding: 0 3rem;
  font-size: 3rem;
  font-weight: 600;
  line-height: 150%;
  color: v.$secondary-color;

  &.minified {
    @include m.flex(center, center, 0);
    padding: 0;
  }
}

.sidebar-link {
  @include m.flex(center, start, 2rem);
  padding: 2rem 3rem;
  font-size: 3rem;
  font-weight: 500;
  line-height: 150%;
  color: v.$secondary-color;
  text-decoration: none;
  transition: color v.$transition-time v.$transition-type;

  & svg {
    width: 18px;
    height: 18px;
  }

  &.active {
    color: v.$tertiary-color;
    &.minified {
      color: v.$fourth-color;
    }
  }
  &.danger {
    color: lighten(v.$danger-color, 20);
  }

  &:hover {
    color: v.$tertiary-color;
    &.minified {
      color: v.$fourth-color;
    }
  }
}

.sidebar-link-title {
  transition: all v.$transition-time v.$transition-type;
  &.minified {
    display: none;
  }
}
