@use "@styles/variables" as v;
@use "@styles/mixins" as m;

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  @include m.flex-center;
  background-color: v.$primary-bg;
  backdrop-filter: blur(15px);
}

.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include m.flex-center;
  width: 100%;
  min-height: 70vh;
  background-color: v.$primary-bg;
  opacity: 0.95;
  z-index: 1000;
  animation: fadeIn 0.2s;
  backdrop-filter: blur(5px);

  &.fullscreen {
    position: fixed;
    width: 100dvw;
    height: 100%;
  }
}

.skeleton-wrapper {
  width: min(680px, 90%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
