@use '@styles/variables' as v;

.card {
  background: v.$primary-table-bg;
  border: 1px solid v.$primary-border-color;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  // overflow: hidden;
  transition: all 0.2s ease;
  width: 100%;

  &:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  }
}

.card-header {
  padding: 20px 24px 16px;
  border-bottom: 1px solid v.$primary-border-color;
  background: linear-gradient(
    135deg,
    v.$primary-table-bg 0%,
    rgba(v.$primary-color, 0.02) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.card-title {
  margin: 0;
  font-weight: 600;
  color: v.$primary-color;
}

.card-right-title {
  flex-shrink: 0;
  margin-left: auto;
  
  // Allow external styles to be applied to children
  :global(*) {
    margin: 0;
  }
}

.card-right-title-text {
  margin: 0;
  color: v.$primary-color;
  opacity: 0.7;
}

.card-body {
  padding: 24px;
  height: 100%;
  @media (max-width: v.$breakpoint-md) {
    padding: 20px;
  }
}
