@use "@styles/variables" as v;

:root {
  font-family: "Inter Tight", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 4px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// body {
//   overflow-x: hidden;
// }

button {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
}

// Alert styles
.alert {
  width: clamp(100rem, 100%, 160rem) !important;
  padding: 4rem !important;
  font-family: "Inter";
  border: v.$primary-border-width v.$primary-border-type v.$primary-border-color;
  border-radius: 4rem;
  transition: opacity v.$transition-time v.$transition-type;

  &-success {
    background-color: v.$success-bg;
    color: v.$success-color;
    border-color: rgba(v.$success-color, 0.2);

    &-title,
    &-desc {
      color: v.$success-color;
    }
  }

  &-info {
    background-color: v.$info-bg;
    color: v.$info-color;
    border-color: rgba(v.$info-color, 0.2);

    &-title,
    &-desc {
      color: v.$info-color;
    }
  }

  &-error {
    background-color: v.$danger-bg;
    color: v.$danger-color;
    border-color: rgba(v.$danger-color, 0.2);

    &-title,
    &-desc {
      color: v.$danger-color;
    }
  }

  &-content {
    width: clamp(100rem, 100%, 136rem);
  }

  &-title {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: normal;
  }

  &-desc {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: normal;
  }

  &-enter {
    transform: translateX(100%);
    opacity: 0;
  }

  &-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 300ms ease, opacity 300ms ease;
  }
  &-exit {
    transform: translateX(0);
    opacity: 1;
  }
  &-exit-active {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 300ms ease, opacity 300ms ease;
  }
}

// Custom styles for flatpickr

.flatpickr-calendar {
  z-index: 99999999 !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange {
  background-color: v.$fourth-color !important; /* Custom selection color */
  color: #fff; /* Text color for selected date */
  border-color: v.$fourth-color !important; /* Border color for selected date */
}

.flatpickr-day.today {
  &:hover {
    background-color: v.$secondary-color !important;
    border-color: v.$primary-color !important;
  }
  border-bottom-color: v.$primary-color !important;
}

.flatpickr-prev-month,
.flatpickr-next-month {
  &:hover svg {
    fill: v.$fourth-color !important;
  }
}

// Custom styles for react-toastify

.Toastify__toast {
  margin-bottom: 12px !important;
}

// Infinite scroll styles

.infinite-scroll-component__outerdiv {
  width: 100% !important;
}
