@use "@styles/mixins" as m;
@use "@styles/variables" as v;

.form {
  @include m.flex(center, start, 12px, column);
  width: 100%;
}

.label {
  @include m.flex(center, start, 2rem);
  min-width: 165px;
  color: v.$secondary-color;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.fileInput {
  cursor: pointer;
}

.image-preview {
  width: 550px;
  @include m.flex(center, start, 1rem);
  overflow: hidden;
  transition: all 0.3s ease;

  &-container {
    @include m.flex(center, center, 8rem, column);
    padding: 20px;
    overflow: hidden;
  }
}

.preview-img {
  display: none;
  flex-shrink: 0;
  width: 550px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;

  &.active {
    display: block;
  }
}

.image-indicator {
  @include m.flex(center, center, 1.5rem);
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 30dvh;
  & img {
    width: 100px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    will-change: opacity;
    transition: opacity v.$transition-time v.$transition-type;
    opacity: 0.6;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .indicator-img-wrapper {
    position: relative;
    &:hover .indicator-img-close {
      display: flex;
    }
  }

  .indicator-img-close {
    @include m.flex(center, center);
    display: none;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 22px;
    height: 22px;
    background-color: v.$primary-bg;
    color: v.$primary-color;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    will-change: transform;

    & svg {
      width: 14px;
      height: 14px;
      fill: v.$button-color;
    }
  }

  & .upload-photo-label {
    @include m.flex(center, center);
    width: 100px;
    height: 65px;
    cursor: pointer;
    color: v.$secondary-color;
    font-size: 2.5rem;
    background-color: v.$fifth-bg;
    border: 3px dotted v.$primary-color;
    border-radius: 8px;
    transition: all v.$transition-time v.$transition-type;

    &:hover {
      background-color: v.$button-bg;
      color: v.$button-color;
    }
  }
}

.no-image {
  @include m.flex-center;
  width: 550px;
  height: 220px !important;
  border-radius: 12px;
  background-color: v.$fourth-bg;
  border-radius: 12px;
  border: 1px dashed v.$secondary-color;
  &-text {
    color: v.$secondary-color;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 143%;
    pointer-events: none;
  }
}
