@use "@styles/mixins" as m;
@use "@styles/variables" as v;

.form {
  @include m.flex(center, start);
  width: 100%;
}

.label {
  @include m.flex(center, start, 2rem);
  min-width: 165px;
  color: v.$secondary-color;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.fileInput {
  cursor: pointer;
}

.image-preview {
  width: 550px;
  @include m.flex(center, start, 1rem);
  overflow: hidden;
  transition: all 0.3s ease;

  &-container {
    @include m.flex(center, center, 1rem);
    padding: 20px;
    overflow: hidden;
  }
}

.preview-img {
  flex-shrink: 0;
  width: 550px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}
