@font-face {
  font-family: "Inter Tight";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/inter-tight/woff2/light.woff2") format("woff2"),
    url("../fonts/inter-tight/woff/light.woff") format("woff");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-tight/woff2/regular.woff2") format("woff2"),
    url("../fonts/inter-tight/woff/regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/inter-tight/woff2/medium.woff2") format("woff2"),
    url("../fonts/inter-tight/woff/medium.woff") format("woff");
}

@font-face {
  font-family: "Inter Tight";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/inter-tight/woff2/semibold.woff2") format("woff2"),
    url("../fonts/inter-tight/woff/semibold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/inter/woff2/medium.woff2") format("woff2"),
    url("../fonts/inter/woff/medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter/woff2/bold.woff2") format("woff2"),
    url("../fonts/inter/woff/bold.woff") format("woff");
}
