// Main color variables
$primary-bg: #ffffff;
$secondary-bg: #fdfdfd;
$tertiary-bg: #e9e9e9;
$primary-color: #3c3f47;
$secondary-color: #8e97a9;
$tertiary-color: #000000;
$fourth-color: #0a4d68;
$fifth-color: #2b2b2b;
$sixth-color: #333333;
$primary-label-color: #0f172a;
$primary-border-color: #e9e9e9;
$secondary-border-color: #f3f4f2;
$tertiary-border-color: #cbd5e1;
$primary-table-bg: #ffffff;
$primary-table-hover-bg: #f7f8f9;
$primary-table-header-bg: #f7f8f9;
$primary-footer-bg: #f7f8f9;
$primary-disabled-color: #ccc;
$primary-chat-input-bg: #f7f8f9;

// Success colors
$success-bg: #f0ffef;
$success-color: #027243;

// Info colors
$info-bg: #fefae8;
$info-color: #b94b20;

// Danger colors
$danger-bg: #ffefef;
$danger-color: #ac2734;

// Spacing variables
$spacing-sm: 2rem;
$spacing-md: 4rem;
$spacing-lg: 8rem;

// Transition variables
$transition-time: 0.2s;
$transition-type: ease-in-out;
$transition-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

// Border variables
$primary-border-type: solid;
$primary-border-width: 0.25rem;
$secondary-border-width: 0.5rem;

// -- Element colors --

// Button colors
$button-bg: #0a4d68;
$button-bg-secondary: #ffffff;
$button-color: #ffffff;
$text-button-color: #0a4d68;
$text-button-color-secondary: #8e97a9;
$primary-button-border-color: #cbd5e1;

// Input colors
$primary-input-bg: #f3f4f2;
$filter-input-bg: #ffffff;
$filter-input-color: #0f172a;
$filter-input-placeholder-color: #94a3b8;
$filter-input-border-color: #cbd5e1;
