@use '@styles/variables.scss' as v;

.theme-toggle {
  padding: 8px 12px !important;
  min-width: auto !important;
  border: 1px solid v.$primary-border-color !important;
  border-radius: 10px !important;
  background: transparent !important;
  
  &:hover {
    opacity: 0.8;
    background: v.$tertiary-bg !important;
  }
}

.theme-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }
}
